@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Redressed&display=swap');

body, html{
	font-family: 'Noto Sans', sans-serif !important;
	color: #656163;
	margin: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

h5, h3{
	font-family: 'Noto Sans', sans-serif !important;
}

a{
	text-decoration: none;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
	background: #f7f1f0;
}

section{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    98% { opacity: 0.01; }
    99% { opacity: 0; bottom: 0 }
    100% { display: : 0; bottom: 100% }
}  

@keyframes fadeOut {
    0% { opacity: 1; }
    98% { opacity: 0.01; }
    99% { opacity: 0; bottom: 0 }
    100% { opacity: 0; bottom: 100% }
}

.fade-out{
    display: block;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.opening{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #f7f1f0;
	z-index: 999;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.opening-box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.shimmer {
  display: inline-block;
  color: #656163;
  background: #656163 -webkit-gradient(linear, 100% 0, 0 0, from(#656163), color-stop(0.5, #ffffff), to(#656163));
  background-position: -4rem top;
  /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
  /*50px*/
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/
  }
  70% {
    background-position: 12.5rem top;
    /*200px*/
  }
  100% {
    background-position: 12.5rem top;
    /*200px*/
  }
}

.yth{
	font-size: 1em;
}

.name{
	color: #dca253 !important;
	font-size: 1.4em;
	line-height: 0em;
	margin-top: 20px;
}

.open-text{
	font-size: .7em;
	cursor: pointer;
	font-weight: 600;
}

.topleft{
	position: absolute;
	top: 0;
	left: 0;
}

.bottomright{
	position: absolute;
	bottom: 0;
	right: 0;
	-ms-transform: rotate(180deg); /* IE 9 */
  	transform: rotate(180deg);
}

.bottomleft{
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}

.topright{
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
}

.geser{
	position: absolute;
	bottom: 1vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: .8em !important;
	text-align: center;
}
.geser p{
	margin: 0;
}
.center{
	text-align: center;
}
.box-wrap-justify{
	position: absolute;
	padding: 10px;
	left: 0; 
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

/*section 6*/
	/* Position the image container (needed to position the left and right arrows) */
	.container-slider {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #333;
	}

	/* Hide the images by default */
	.mySlides {
		display: none;
		width: 100vw;
		height: 85vh;
		overflow: hidden;
		position: relative;
	}

	.image-content{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}

	.bgSlides {
		height: 85vh;
		width: 100vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(8px);
  		-webkit-filter: blur(8px);
	}

	/* Add a pointer when hovering over the thumbnail images */
	.cursor {
	  	cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 40%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  	background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #dca253;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	.container-slider .row{
		margin: 0 !important;
	}

	.container-slider .row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Six columns side by side */
	.column {
		float: left;
		width: 20vw;
		height: 15vh;
		overflow: hidden;
	}

	/* Add a transparency effect for thumnbail images */
	.demo {
	  	opacity: 0.4;
	}

	.active,
	.demo:hover {
	  	opacity: 1;
	}

@media only screen and (min-width: 601px) {
	.logo{
		width: 200px;
	}
	.topleft, .bottomright{
		width: 270px;
	}
	.page1 > .topleft, .page1 > .bottomright{
		z-index: 2;
	}
	.image1{
		height: 90vh;
		position: absolute;
		bottom: 0;
		right: 10vw;
	}
	.savedate{
		position: absolute;
		left: 20vw;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}

	.savedate > .save{
		color: #dca253 !important;
		padding: 0;
		margin: 0;
	}

	.savedate > .date{
		color: #dca253 !important;
		font-weight: 600;
		font-size: 1.2em;
		padding-top: 0;
		margin-top: 0;
	}

	.button{
		background: #dca253;
		padding: 7px 20px;
		border-radius: 20px;
		color: #fff !important;
	}

	.box-wrap{
		padding: 20px;
		margin: 2vw;
		border-radius: 10px;
		-webkit-box-shadow: 1px 2px 22px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 22px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 22px -6px rgba(0,0,0,0.75);
		z-index: 999;
		position: absolute;
		background: #ffffff7a;
		top: 1vw;
		bottom: 1vw;
		left: 1vw;
		right: 1vw;
	}
	.bismillah{
		width: 20vw;
	}

	.img-ppl-wrap{
		margin-top: 20px;
	}

	.image-circle{
		margin: auto;
		background: white;
		border-radius: 50%;
		width: 11vw;
		height: 11vw;
		border: 4px solid #dca253;
		-webkit-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
		overflow: hidden;
	}

	.name-married{
		margin-top: 10px;
		color: #dca253;
		font-family: 'Dancing Script', cursive;
		font-size: 1.5em;
		margin-bottom: 0;
	}

	.name-married-wrap img{
		width: 180px;
		margin:0;
		margin-top: -20px;

	}

	.anak-text{
		font-family: 'Redressed', cursive;
		margin: 0px;
		color: black;
	}

	.parent-text{
		margin: 0px;
	}

	.and-text{
		color: #dca253;
		font-family: 'Dancing Script', cursive;
		font-size: 5em;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.page3 .flower{
		width: 25vw;
		right: 10vw;
		top: 10vh;
		bottom: 10vh;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.section2{
		position: absolute;
		right: 37vw;
		width: 12vw;
		top: 15vh;
		bottom: 15vh;
		background: #e2e3dd;
	}

	.section2 .contex{
		position: absolute;
		bottom: 15vh;
		right: -5vw;
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.section2 p{
		text-transform: uppercase;
		color: #dca253;
		float: left;
		padding-left: 10px;
	}

	.section2 .line{
		width: 50px;
		height: 2px;
		background: #dca253;
		float: left;
		margin-top: 10px;
	}

	.page3 .jadwal{
		position: absolute;
		left: 10vw;
		top: 50%;
		transform: translateY(-50%);
		right: 40vw;
		z-index: 2;
	}

	.jadwal h5{
		color: #dca253;
		font-size: 1.2em;
		font-weight: 600;
	}

	.jadwal .date-time p{
		margin: 0;
		font-size: .8em;
		padding-bottom: 5px;
		border-bottom: 1px solid #dca253;
	}

	.jadwal .date-time .desa{
		font-size: .8em;
	}

	.jadwal .date-time .alamat{
		font-size: .8em;
		border-bottom: 0px !important;
	}

	.jadwal .calendar-date-container{
		padding-right: 0px;
	}

	.jadwal .calendar-date{
		width: 100%;
		background: #dca253;
		border: 5px solid white;
		border-radius: 3px;
		color: white;
		-webkit-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
	}

	.calendar-date-wrap{
		padding: 5px 10px;
	}

	.jadwal .calendar-date p{
		font-size: 2vw;
		font-weight: 600;
		text-align: center;
		vertical-align: middle;
		margin: 0 !important;
		padding: 0 !important;
	}

	.jadwal .calendar-date .month{
		font-size: 1em;
		font-weight: 100;
	}

	.jadwal .calendar-date .year{
		font-size: 0.7em;
		font-weight: 100;
		margin-top: -4px !important;
		margin-bottom: 5px !important;
	}

	.countdown{
		margin-top: 8vh;
	}

	.countdown h5{
		margin-top: 15px;
		font-weight: normal;
		font-size: 1em !important;
		color: black;
	}

	.countdown h5 b{
		color: #dca253;	
	}

	/*countdown*/
	#clockdiv{
		color: #fff;
		display: inline-block;
		font-weight: 100;
		text-align: center;
		font-size: 30px;
	}

	#clockdiv > div{
		padding: 10px;
		border-radius: 3px;
		margin: 0 10px 0px 0px;
		background: #fff;
		display: inline-block;
		-webkit-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
	}

	#clockdiv div > span{
		padding: 5px 15px;
		border-radius: 3px;
		background: #dca253;
		display: inline-block;
	}

	.smalltext{
		padding-top: 5px;
		font-size: 14px !important;
		color: #dca253;
	}

	/*section 4*/

	.map-bg{
		width: 40vw;
		left: 10vw;
		top: 10vh;
		bottom: 30vh;
		position: absolute;
		background: #e2e3dd;
	}

	.map-box{
		background: #ccc;
		position: absolute;
		left: 5vw;
		right: 5vw;
		top: 10vh;
		bottom: -20vh;
	}

	.page4-wrap{
		width: 100% !important;
		height: 100% !important;
		background-position: right;
		background-repeat: no-repeat;
		background-size: auto 100vh;
	}

	.lokasi-wrap{
		position: absolute;
		left: 53vw;
		right: 10vw;
		top: 50%;
		transform: translateY(-50%);
	}

	.lokasi-wrap h5{
		margin-top: 35px;
		color: #dca253;
	    font-size: 1.2em;
	    font-weight: 600;
	}

	/*section 5*/
	.list-tamu{
		width: 40vw;
		text-align: left;
		margin: auto;
		margin-top: 20px;
	}

	/*section 7*/
	.doa-mempelai{
		width:40vw;
		height: 100vh;
		float: left;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	.doa-mempelai .line{
		position: absolute;
		width: 40px;
		height: 40vh;
		background: #dca253;
		right: -20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.sudut{
		position: absolute;
		bottom: 30px;
		right: 30px;
		width: 140px;
		height: 140px;
		border-bottom: 20px solid #e2e3dd;
		border-right: 20px solid #e2e3dd;
	}

	.content-doa{
		float: left;
		width: 50vw;
		height: 100vh;
		margin-left: 5vw;
		position: relative;
	}

	.content-doa-center{
		position: absolute;
		top: 50%;
		left: 0;
		grid-row: 0;
		transform: translateY(-50%);
	}

	/*section 8*/
	.form-doa{
		width: 500px;
		margin: auto;
	}
}


@media only screen and (max-width: 600px) {
	body{
		font-size: .8em;
	}
	.yth{
		font-size: 1em !important;	
	}
	.opening-box{
		width: 100%;
	}
	.logo{
		width: 50vw;
	}
	.topleft, .bottomright, .topright, .bottomleft{
		width: 50vw;
	}

	.page1 > .topleft, .page1 > .bottomright{
		z-index: 2;
	}

	.image1{
		height: 50vh;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.savedate{
		position: absolute;
		left: 50%;
		top: 10vh;
		transform: translateX(-50%);
		text-align: center;
		width: 100%;
	}

	.page1 .logo{
		width: 40vw;
	}

	.savedate > .save{
		color: #dca253 !important;
		padding: 0;
		margin: 0;
		font-size: 0.8em;
		margin-top: 10px;
	}

	.savedate > .date{
		color: #dca253 !important;
		font-weight: 600;
		padding-top: 0;
		margin-top: 0;
	}

	.button{
		background: #dca253;
		padding: 7px 20px;
		border-radius: 20px;
		color: #fff !important;
	}

	.box-wrap{
		padding: 3vw;
		border-radius: 10px;
		-webkit-box-shadow: 1px 2px 22px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 22px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 22px -6px rgba(0,0,0,0.75);
		z-index: 999;
		position: absolute;
		background: #ffffff7a;
		top: 2vw;
		bottom: 2vw;
		left: 2vw;
		right: 2vw;
	}

	.bismillah{
		width: 30vw;
	}

	.box-wrap i{
		font-size: .8em;
	}

	.box-wrap .doa{
		margin-top: -15px;
		font-size: .8em;
	}

	.img-ppl-wrap{
		margin-top: 20px;
	}

	.image-circle{
		margin: auto;
		background: white;
		border-radius: 50%;
		width: 21vw;
		height: 21vw;
		border: 4px solid #dca253;
		-webkit-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
		overflow: hidden;
	}

	.name-married{
		margin-top: 10px;
		color: #dca253;
		font-family: 'Dancing Script', cursive;
		font-size: 1.5em;
		margin-bottom: 0;
	}

	.name-married-wrap img{
		width: 180px;
		margin:0;
		margin-top: -20px;
		padding: 0px;

	}

	.anak-text{
		font-family: 'Redressed', cursive;
		margin-top: -15px;
		margin-bottom: 0px;
		color: black;
	}

	.parent-text{
		margin-top: -20px;
		margin: 0px;
		font-size: .8em;
	}

	.and-text{
		color: #dca253;
		font-family: 'Dancing Script', cursive;
		font-size: 2em;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.page3 .flower{
		width: 15vw;
		right: 0;
		top: 10vh;
		bottom: 10vh;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.section2{
		position: absolute;
		right: 17vw;
		width: 25vw;
		top: 15vh;
		bottom: 15vh;
		background: #e2e3dd;
	}

	.section2 .contex{
		position: absolute;
		width: 40vh;
		bottom: 20vh;
		right: -30vw;
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		display: none;
	}

	.section2 p{
		text-transform: uppercase;
		color: #dca253;
		float: left;
		font-size: .8em;
		padding-left: 6px;
	}

	.section2 .line{
		width: 30px;
		height: 1px;
		background: #dca253;
		float: left;
		margin-top: 7px;
	}

	.page3 .jadwal{
		position: absolute;
		left: 5vw;
		top: 50%;
		transform: translateY(-50%);
		right: 5vw;
		z-index: 2;
		padding: 2vw;
	}

	.jadwal .row .col-md-4{
		width: 30vw !important;
	}

	.jadwal .row .col-md-8{
		width: 60vw !important;	
	}

	.jadwal h3{
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 15px;
	}

	.jadwal h5{
		color: #dca253;
		font-size: 1em;
		font-weight: 600;
	}

	.jadwal .date-time p{
		margin: 0;
		font-size: .8em;
		padding-bottom: 5px;
		border-bottom: 1px solid #dca253;
	}

	.jadwal .date-time .desa{
		font-size: .8em;
	}

	.jadwal .date-time .alamat{
		font-size: .8em;
		border-bottom: 0px !important;
	}

	.jadwal .calendar-date-container{
		padding-right: 0px;
	}

	.jadwal .calendar-date{
		width: 100%;
		background: #dca253;
		border: 5px solid white;
		border-radius: 3px;
		color: white;
		-webkit-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
	}

	.calendar-date-wrap{
		padding: 5px 10px;
	}

	.jadwal .calendar-date p{
		font-size: 1.2em;
		font-weight: 600;
		text-align: center;
		vertical-align: middle;
		margin: 0 !important;
		padding: 0 !important;
	}

	.jadwal .calendar-date .month{
		font-size: 1em;
		font-weight: 100;
	}

	.jadwal .calendar-date .year{
		font-size: 0.7em;
		font-weight: 100;
		margin-top: -4px !important;
		margin-bottom: 5px !important;
	}

	.countdown h5{
		margin-top: 15px;
		font-weight: normal;
		font-size: 1em !important;
		color: black;
	}

	.countdown h5 b{
		color: #dca253;	
	}

	/*countdown*/
	#clockdiv{
		color: #fff;
		display: flex;
		font-weight: 100;
	}

	#clockdiv > div{
		margin-right: 3px;
		flex: 1;
		padding: 5px;
		border-radius: 3px;
		background: #fff;
		display: inline-block;
		-webkit-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 12px -6px rgba(0,0,0,0.75);
	}

	#clockdiv div > span{
		width: 100%;
		padding: 10px 10px;
		border-radius: 3px;
		background: #dca253;
		display: inline-block;
		text-align: center;
		font-size: 1.5em;
	}

	.smalltext{
		padding-top: 5px;
		font-size: .9em !important;
		color: #dca253;
		text-align: center;
	}

	/*section 4*/

	.map-bg{
		width: 90vw;
		height: 40vh;
		margin: 4vh auto;
		background: #e2e3dd;
		padding: 10px;
	}

	.map-box{
		background: #ccc;
		width: 100%;
		height: 100%;
		margin-bottom: -20px;
	}

	.page4-wrap{
		width: 100% !important;
		height: 100% !important;
		background-position: right;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}

	.lokasi-wrap{
		width: 90vw;
		margin: 4vh auto;
	}


	.lokasi-wrap h3{
		margin-top: 10vh;
		font-size: 1.2em;
	}

	.lokasi-wrap h5{
		color: #dca253;
	    font-size: 1em !important;
	    font-weight: 600;
	}

	/*section 5*/

	.page5 h3{
		font-size: 1.2em;
	}

	.list-tamu{
		width: 85vw;
		text-align: left;
		margin: auto;
		margin-top: 20px;
		padding-left: 15px;
	}

	/*section 7*/
	.doa-mempelai{
		display: none;
		width:100vw;
		height: 30vh;
		float: left;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	.doa-mempelai .line{
		position: absolute;
		width: 40px;
		height: 40vh;
		background: #dca253;
		right: -20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.sudut{
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 90px;
		height: 90px;
		border-bottom: 15px solid #e2e3dd;
		border-right: 15px solid #e2e3dd;
	}

	.content-doa{
		width: 100vw;
		height: 100vh;
		position: relative;

	}

	.content-doa-center{
		position: absolute;
		top: 50%;
		left: 10vw;
		right: 10vw;
		grid-row: 0;
		transform: translateY(-50%);
		/*background: #ffffff7a;*/
		padding: 10px;
		z-index: 3;
		border-radius: 3px;
	}

	.content-doa-center p{
		margin: 0;
	}

	.mySlides {
		display: none;
		width: 100vw;
		height: 80vh;
		overflow: hidden;
		position: relative;
	}

	.bgSlides {
		height: 80vh;
		width: 100vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(8px);
  		-webkit-filter: blur(8px);
	}
}